#homeBTN{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    height: 50px;
    width: 50px;
    background-color:rgb(255, 0, 0);
    margin: 0;
}
#fursuitsBTN{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
    text-decoration: none;
}